	





{% load static from staticfiles %} 

<!doctype html>
<html>
		<head>
											<meta charset="utf-8">
											<link type="text/css" rel="stylesheet" href="{% static 'ebookstore/cart.css' %}">
											
											<meta name="viewport" content="width=device-width, initial-scale=1">
											<title></title>
											<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

									<link  type="text/css"  rel="stylesheet" href="{% static 'ebookstore/bootstrap.min.css' %}">
									
									
									<script>
					function openNav() {
						document.getElementById("mySidenav").style.width = "250px";
					}

					function closeNav() {
						document.getElementById("mySidenav").style.width = "0";
					}
					
										var slideIndex = 1;
					showSlides(slideIndex);

				  function payWithPaystack(){
				    var handler = PaystackPop.setup({
				      key: 'pk_test_1ae21e3c162a5687048938e7b4afad6ab72180a4',
				      email: '{{ user.email}}',
				      amount: {{ bas.total }}+"00",
				     
				      metadata: {
				         custom_fields: [
				            {
				            	
				                display_name: "Mobile Number",
				                variable_name: "mobile_number",
				                value: "{{ user.userprofile.phone_number }}"
				            }
				         ]
				      },
				      callback: function(response){
				          alert('success. transaction ref is ' + response.reference);
				      },
				      onClose: function(){
				          alert('window closed');
				      }
				    });
				    handler.openIframe();
				  }
			</script>
		</head>
		<body>
		<header>
			<h1><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>ELIXIR</h1>
			
			
			
			<div id="mySidenav" class="sidenav">
					  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					   <h1> <a href="{% url 'ebookstore:displaycategory' %}">HOME</a></h1>
					   {% for categories in category %}
		
		

						<h1><a href='{% url "ebookstore:display_percategory" categories.id %}'>{{ categories.name }}</a></h1>
						{% endfor %}
					
					  
			</div>
			<div class="search-box">
				
			</div>
			<div class='cart'>
			<a href="{% url 'ebookstore:Salesrequest' %}"><i class="fas fa-store-alt las"></i></a>
			<a href="{% url 'ebookstore:userfavourite_products' %}"><i class="fas fa-heart lg"></i></a>		
			<a href="{% url 'ebookstore:userprofile' %}"><i class="fas fa-user lgr"></i></a>
			
			<a href="{% url 'ebookstore:carthome' %}"><i class="fas fa-shopping-cart las"></i></a>
			<a href="{% url 'ebookstore:complain' %}"  ><i class="fas fa-headset lg"></i></a>	
			</div>
		
		
		
		
		
		
		
		<hr/>
		</header>
		<div class='container'>
			<h1>Username:{{ user }}</h1>
							<h2 >First-name:{{ user.first_name }}</h2>
							<h2>Last-name:{{ user.last_name }}</h2>
							
						    
							<h3>phone number:{{ user.userprofile.phone_number }}</h3>
							
							<h3>delivery address:{{ user.userprofile.address }}</h3>
							<h3>delivery location:{{ user.userprofile.location }}</h3>
							

						    {% if user.userprofile.age %}
						    <h4>{{ user.userprofile.age }} yrs old</h4>
							{% endif %}

							{% if user.userprofile.gender %}
							<h4>{{ user.userprofile.gender }}</h4>
							{% endif %}



                         
							<h5>email:{{ user.email}}</h5>
							 {{user.user}}






			<h2>Cart</h2>
			<hr/>
		

		{% if empty %}
			<h1>{{ empty_message }}
			<a href="{% url 'ebookstore:displaycategory' %}"><button type='button' class='btn btn-warning'>
															<span style=" color:white" >Continue Shopping</span></h1>
		{% else %}
		</div>
	
		<table  align="center" width='1000px'>
		
<tr>
<td>ITEM</td>
<td>QUANTITY</td>
<td>CATEGORY</td>
<td>PRICE</td>

</tr>
{% for item in bas.cartitem_set.all %}
<tr>
<td><h4 ><b>{{ item.product }}</b></h4>
<h4>{{ item.product.user }}</h4>
{% if item.variations.all %}
	<ul>
					{% for subitem in item.variations.all %}
					<li>
						{{ subitem.category|capfirst }} : {{ subitem.title|capfirst }}
					</li>
					{% endfor %}	
				</ul>

			{% endif %}

</td>
<td><h3> {{ item.quantity }}</h3></td>
<td><h3>{{ item.product.Product_category }}</h3></td>
<td><h3>&#8358;{{ item.product.Product_price }}</h3></td>

</tr>
{% endfor %}
</table>
					<div class="enter">
					<h4>TOTAL:&#8358;{{ bas.total }}</h4>
					<form>
						<script src="https://js.paystack.co/v1/inline.js"></script>		
						<button type="button" onclick="payWithPaystack()" class='btn btn-warning'> Pay then Order </button> 
								
													<a href="{% url 'ebookstore:checkout' %}"><button type='button' class='btn btn-success'>
															<span style=" color:white" >place your order</span>
														</button></a>
								</h4>
									  
									 
							</form>	

					</div>							
	{% endif %}


		
		
		
		
		
		
		
		
		
		
		
		</body>
		</html>		