


	


		






{% load static from staticfiles %} 
	<!doctype html>
<html>
		<head>
											<meta charset="utf-8">
											<link type="text/css" rel="stylesheet" href="{% static 'ebookstore/detail.css' %}">
											
											<meta name="viewport" content="width=device-width, initial-scale=1">
											<title></title>
											<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
					  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
					  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
					  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

									<link  type="text/css"  rel="stylesheet" href="{% static 'booklibrary/bootstrap.min.css' %}">
									
									
									<script>
					function openNav() {
						document.getElementById("mySidenav").style.width = "250px";
					}

					function closeNav() {
						document.getElementById("mySidenav").style.width = "0";
					}
					
										var slideIndex = 1;
					showSlides(slideIndex);
					</script>
		</head>
		<body>
		<header>
			<h1><span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>ELIXIR</h1>
			
			
			
			<div id="mySidenav" class="sidenav">
					  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					   <h1> <a href="{% url 'ebookstore:displaycategory' %}">HOME</a></h1>
					   {% for categories in category %}
		
		

						<h1><a href='{% url "ebookstore:display_percategory" categories.id %}'>{{ categories.name }}</a></h1>
						{% endfor %}
					
					  
			</div>
			<div class="search-box">
				
			</div>
			<div class='cart'>
			<a href="{% url 'ebookstore:Salesrequest' %}"><i class="fas fa-store-alt las"></i></a>
			<a href="{% url 'ebookstore:userfavourite_products' %}"><i class="fas fa-heart lg"></i></a>		
			<a href="{% url 'ebookstore:userprofile' %}"><i class="fas fa-user lgr"></i></a>
			
			<a href="{% url 'ebookstore:carthome' %}"><i class="fas fa-shopping-cart las"></i></a>
			<a href="{% url 'ebookstore:complain' %}"  ><i class="fas fa-headset lg"></i></a>	
			</div>
		
		
		
		
		
		
		
		<hr/>
		</header>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-5'>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						    <!-- Indicators -->
						    <ol class="carousel-indicators">
						      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						      <li data-target="#myCarousel" data-slide-to="1"></li>
						      <li data-target="#myCarousel" data-slide-to="2"></li>
						      <li data-target="#myCarousel" data-slide-to="3"></li>
						       <li data-target="#myCarousel" data-slide-to="4"></li>
						    </ol>

						    <!-- Wrapper for slides -->
						    <div class="carousel-inner">
						      <div class="item active">
						        <img src='{{ obj.Product_image.url}}' style="width:100%;" />
						      </div>


						      <div class="item">
						      	{% if obj.Product_image1 %}
						        <img src='{{ obj.Product_image1.url}}' style="width:100%;" />
						        {% endif %}
						       </div> 
						    
						      <div class="item">
						      	{% if obj.Product_image2 %}
						        <img src='{{ obj.Product_image2.url}}' style="width:100%;" />
						         {% endif %}	
						      </div>

						      <div class="item">
						      	{% if obj.Product_image3 %}
						        <img src='{{ obj.Product_image3.url}}' style="width:100%;" />
						         {% endif %}
						      </div>

						      <div class="item">
						      	{% if obj.Product_image4 %}
						        <img src='{{ obj.Product_image4.url}}' style="width:100%;" />
						         {% endif %}
						      </div>
						    </div>

						    <!-- Left and right controls -->
						    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
						      <span class="glyphicon glyphicon-chevron-left"></span>
						      <span class="sr-only">Previous</span>
						    </a>
						    <a class="right carousel-control" href="#myCarousel" data-slide="next">
						      <span class="glyphicon glyphicon-chevron-right"></span>
						      <span class="sr-only">Next</span>
						    </a>
						  </div>

					
					
				</div>
				<div class='col-sm-7 rol'>
					<h3 ><b>{{ obj.Product_name}}</b></h3>
					<h4><a href=>{{obj.Product_category}}</a></h4>
					<hr/>
					<p>{{obj.Product_decription}} </p>

					<hr/>
		<div class='sum'>
						<div class='pri'>
					<h3>&#8358;{{ obj.Product_price}}
				
					<form method='POST' action='{% url "ebookstore:add_to_cart" obj.id %}'>
						{% csrf_token %}
					
					<div class='info'>
						<input name='qty' type='number' value='1'>
						{% if obj.variation_set.all %}
							{% if obj.variation_set.sizes %}
								<select class='form-control' name='size'>
									{% for item in obj.variation_set.sizes %}
										<option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
									{% endfor %}
								</select>
							{% endif %}
							{% if obj.variation_set.colors %}
								<select class='form-control' name='color'>
								{% for item in obj.variation_set.colors %}
									<option value='{{ item.title|lower }}'>{{ item.title|capfirst }}</option>
								{% endfor %}
								</select>
							{% endif %}
						{% endif %}
					</div>
				</div>



							
							<button type="submit" class='btn btn-success pay'>
												<span style=" color:white" >Add cart</span>
											</button>

	



					</h3>
					</form>	
		</div>			

					<div class='act'>
					{{ total_likes }} Like{{ total_likes|pluralize }} 
					{% if request.user.is_authenticated %}
					<form method='POST' action='{% url "ebookstore:like_products" %}' >
						{% csrf_token %}
				
					<!--input type="submit" onclick="this.disabled = true" value="Save" -->
					
					{% if is_liked %}
							<button type='submit' name='obj_id' class='btn btn-danger' value='{{ obj.id }}'>Unlike</button>
					{% else %}
							<button type='submit' name='obj_id' class='btn btn-primary' value='{{ obj.id }}'>like</button>
					{% endif %}



						
						 <a href="{% url 'ebookstore:addcomment' id=obj.id  %}">
						 	<i class="fas fa-comments com"> leave a comment</i>
						 </a> 

					{% if is_favourite %}	 
					<a href='{% url "ebookstore:favourite_products" id=obj.id %}'>
						<i class="fas fa-heart lg1">Save
							
						</i>
					</a>
					{% else %}
							<a href='{% url "ebookstore:favourite_products" id=obj.id %}'>
						<i class="far fa-heart lg">Save
							
						</i>
					</a>
					{% endif %}

				</form>
				{% else %}
				 <p> please login to like or leave a comment</p>
				{% endif %}


					{% if text %}
							<h3>Comments</h3>
							<p>total number of comments {{ text.count }}</p>


					 {% for comment in text %}
							
				<div class='media'>
						
						<div class='media-left'>
							{% if user.userprofile.image %}
							<img src="{{ user.userprofile.image.url}}"  class='media-object img-rounded img-responsive pic1'/>
							{% endif %}
						</div>
						<div class='media-body'>
							<h3><b> {{ comment.name }} </b> <small>said {{ comment.text }}</small></h3>
							 <p>said on {{ comment.created_on }}</p>
						</div>
						
						
					
				</div>
				<hr />
					{% endfor %}
					{% else %}
							<h3>No Comments</h3>
					{% endif %}		
				</div> 
				</form>
			</div>
						
					


					
						
						
				</div>		
			</div>			
		</div>

		
		
		
		
		
		
		
		
		
		
		</body>
		</html>